.bio-icon{
    
   
    display: flex;
    justify-content: space-between;

   
    
}

.dialog-screen{
    padding: 50px;
}

.input-form-techs{

    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.icon-button{
    display:flex;
    
    flex-direction: row;
}

.buttons{
    display: flex;
margin-top: 20px;
    gap: 10px;
}


.dev-item{
    
    
    border-radius: 2px;
    height: 80%;
    padding: 20px
}



.dev-item{
    background: #fff;
    box-shadow: 0 0 14px 0 black;
    border-radius: 2px;

    padding: 20px
}



.dev-item .bio-icon .user-info{
    
    margin-left: 10px;
}




.dev-item p{
    color: #666;
    font-size: 14px;

    line-height: 20px;
    
}




